<template>
    <v-layout align-start>
        <v-flex>
            <el-row :gutter="10">
                <el-col :xs="24" :md="6">
                    <v-subheader>Ingrese Sector</v-subheader>
                    <el-select v-model="idSector" placeholder="Seleccione Sector..." size="small" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in sector"
                            :key="item.value"
                            :value="item.value"
                            :label="item.label"
                        >
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :xs="24" :md="6">
                    <v-subheader>Ingrese Año</v-subheader>
                    <el-date-picker
                    v-model="anio"
                    type="year"
                    placeholder="Selecciona un Año..."
                    size="small"
                    :change="title"
                    :default-value="anio"
                    style="width: 100%;">
                    </el-date-picker>
                </el-col>
                <el-col :xs="24" :md="6">
                    <v-subheader></v-subheader>
                    <el-button size="small" @click="search">Buscar</el-button>
                </el-col>
            </el-row>
            <br>
            <el-row>
                <el-table
                    v-loading="loading"
                    :data="seguimiento"
                    height="580"
                    style="width: 100%"
                    size="mini"
                    :header-cell-style="tableHeaderColor"
                    :cell-style="{padding: '0', height: '2px'}">
                    <el-table-column fixed width="250">
                    <el-table-column
                        prop="nombre"
                        label="Sectores de MA"
                        width="250">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column align="center" :label="title">
                        <el-table-column align="center" label="AZUL">
                            <el-table-column
                                prop="repAzu"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateAzu"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumAzu)">{{ scope.row.cumAzu }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" label="ROJA">
                            <el-table-column
                                prop="repRoj"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateRoj"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumRoj)">{{ scope.row.cumRoj }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                    </el-table-column>
                    <el-table-column align="center" label="VERDE">
                        <el-table-column align="center" label="AZUL">
                            <el-table-column
                                prop="repVA"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateVA"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumVA)">{{ scope.row.cumVA }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" label="ROJA">
                            <el-table-column
                                prop="repVR"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateVR"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumVR)">{{ scope.row.cumVR }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                    </el-table-column>
                    <el-table-column>
                        <el-table-column align="center" label="TOTAL">
                            <el-table-column
                                label="# Rep"
                                width="60"
                                align="center">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{totalRep(scope.row)}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="# Aten"
                                width="70"
                                align="center">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ totalAte(scope.row) }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(totalPor(scope.row))">{{ totalPor(scope.row) }}</span>
                                </template>
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>
                </el-table>
            </el-row>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios';
export default {
    data(){
        return{
            idSector: '',
            sector: [
                { value:0, label: 'Todos'}
            ],
            anio: new Date(),
            seguimiento:[],
            loading: true
        }
    },
    created(){
        //this.dataSeguimiento();
        this.selectSectors();
        //this.totalRep();
    },
    computed:{
        title(){
            if (this.anio != null) {
                return 'SEGUIMIENTO TARJETAS '+this.anio.getFullYear();
            }
            else{
                return 'SEGUIMIENTO TARJETAS ';
            } 
        }
    },
    methods:{
        search(){
            let me = this;
            me.loading = true;
            axios.get('api/Tarjetas/ListarSeguimientoTarjetasAnual/'+me.idSector+'/'+me.anio.getFullYear()).then(function(response){
                me.seguimiento = response.data;
                if (me.seguimiento.length > 0) {
                    me.loading = false;
                }
            }).catch(function(error){
                console.log(error);
            });
        },
        selectSectors(){
            //lista de todas las areas
            let me=this;
            var sectorArray=[];
            axios.get('api/Areas/Listar').then(function(response){
                me.sectorArray=response.data;
                me.sectorArray.map(function(x){
                    me.sector.push({value: x.id, label: x.nombre});
                });
            }).catch(function(error){
                console.log(error);
            });
            console.log(me.sector);
        },
        totalRep(row){
            let sum = row.repAzu + row.repRoj + row.repVA + row.repVR;
            return sum;
        },
        totalAte(row){
            let sum = row.ateAzu + row.ateRoj + row.ateVA + row.ateVR;
            return sum;
        },
        totalPor(row){
            //console.log(row);
            let a = row.ateAzu + row.ateRoj + row.ateVA + row.ateVR;
            let b = row.repAzu + row.repRoj + row.repVA + row.repVR;
            if (a === 0) {
                return '';
            }
            else{
                return ((a/b)*100).toFixed()+'%';
            }
        },
        dataSeguimiento(){
            let me = this;
            var seguimientoArray= [];
            console.log(me.anio);
            axios.get('api/Tarjetas/ListarSeguimientoTarjetasAnual/'+me.sector[0].value+'/'+me.anio.getFullYear()).then(function(response){
                me.seguimiento = response.data;
                if (me.seguimiento.length > 0) {
                    me.loading = false;
                }
            }).catch(function(error){
                console.log(error);
            });
        },
        tableHeaderColor({ row, column, rowIndex, columnIndex }) {
            if (rowIndex === 0 && columnIndex === 2) {
                return "background-color: #00B050;border: hidden;  color: white;font-weight: 600;";
            }
            if ((rowIndex === 1 && columnIndex ===0) || (rowIndex ===2 && columnIndex >= 0) || (rowIndex === 1 && columnIndex === 5)  ) {
                return "background-color: #F0F3F4; color: black;font-weight: 700;";
            }
            if ((rowIndex === 0 && columnIndex === 0) || (rowIndex === 0 && columnIndex === 1) || (rowIndex === 0 && columnIndex === 3)) {
                return "background-color: #FFFFFF; border: hidden;color: black;font-weight: 700;";
            }

            if (rowIndex === 1 && columnIndex === 1) {
                return "background-color: #5B9BD5;border: hidden;color: white;font-weight: 600;";
            }
            if (rowIndex === 1 && columnIndex === 2) {
                return "background-color: #FF5757;border: hidden;color: white;font-weight: 600;";
            }
            if (rowIndex === 1 && columnIndex === 3) {
                return "background-color: #5B9BD5;border: hidden;color: white;font-weight: 600;";
            }
            if (rowIndex === 1 && columnIndex === 4) {
                return "background-color: #FF5757;border: hidden;color: white;font-weight: 600;";
            }
        },
        cellColor(row){
            if (row === '100%') {
                return "color: green;font-weight: 500;";
            }
            else{
                return "color: red;font-weight: 500;";
            }
        }

    }
}
</script>