<template>
  <div class="about">
    <h1>This is an about page</h1>
  
  <el-container>
  <el-header>Cabecera</el-header>
  <el-main>Principal</el-main>
</el-container>

<el-container>
  <el-header>Cabecera</el-header>
  <el-main>Principal</el-main>
  <el-footer>Pie de página</el-footer>
</el-container>

<el-container>
  <el-aside width="200px">Barra lateral</el-aside>
  <el-main>Principal</el-main>
</el-container>

<el-container>
  <el-header>Cabecera</el-header>
  <el-container>
    <el-aside width="200px">Barra lateral</el-aside>
    <el-main>Principal</el-main>
  </el-container>
</el-container>

<el-container>
  <el-header>Cabecera</el-header>
  <el-container>
    <el-aside width="200px">Barra lateral</el-aside>
    <el-container>
      <el-main>Principal</el-main>
      <el-footer>Pie de página</el-footer>
    </el-container>
  </el-container>
</el-container>

<el-container>
  <el-aside width="200px">Barra lateral</el-aside>
  <el-container>
    <el-header>Cabecera</el-header>
    <el-main>Principal</el-main>
  </el-container>
</el-container>

<el-container>
  <el-aside width="200px">Barra lateral</el-aside>
  <el-container>
    <el-header>Cabecera</el-header>
    <el-main>Principal</el-main>
    <el-footer>Pie de página</el-footer>
  </el-container>
</el-container>

</div>
</template>
<style>
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>
