<template>
  <v-card height="110" :hover="true"  class="grey--text">
    <v-layout row>
      <v-flex class="ma-1" xs3>
        <v-img src="https://cdn.vuetifyjs.com/images/cards/halcyon.png" height="60px" contain></v-img>
      </v-flex>
      <v-flex xs8>
        <v-card-title primary-title>
          <div>
            <div class="caption text-xs-center">
              Daniela DelCarpio
            </div>
            <!-- <div class="headline">Halycon Days</div>-->
            <div class="mb-1 caption text-xs-left">
              <v-badge :small="true" color="green darken-3" left>
                <template v-slot:badge>
                  <span>17</span>
                </template>
                <span class="ma-1">OK</span>
              </v-badge>
            </div>
            <div class="mb-1 caption text-xs-left">
              <v-badge color="yellow darken-2" left>
                <template v-slot:badge>
                  <span>56</span>
                </template>
                <span class="ma-1">EJECUCIÓN</span>
              </v-badge>
            </div>
            <div class="mb-1 caption text-xs-left">
              <v-badge color="red" left>
                <template v-slot:badge>
                  <span>6</span>
                </template>
                <span class="ma-1">RETRASADA</span>
              </v-badge>
            </div>
          </div>
        </v-card-title>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
// @ is an alias to /src
//import Tarjeta from './_base-card-total'
//import Footer from '@/components/Footer'
//import Tarjeta from "@/components/layouts/wcm-tarjetas/_base-card-total";

//import Btn from "@/components/Library/boton";

export default {
  name: "ResumenMeses",
  components: {
    //Tarjeta,
  },
  data: () => ({
    team: [
      { name: "Iyad", role: "web developer", avatar: "/img1.png" },
      { name: "Reda", role: "Graphic designer", avatar: "/img2.png" },
      { name: "Zineb", role: "web developer", avatar: "/img3.png" },
      { name: "Hu TechGroup", role: "Desktop developer", avatar: "/img4.png" }
    ],
    PropsColorRoja: 0,
    ROJA: 1,
    AZUL: 2,
    AMARILLA: 3,
    anioReporte: "",
    activeName: "first",
    anioReporte: "",
    readonly: true,
    autoclose: true,
    value: "",
    format: "MM/dd/yyyy"
  }),
  props: {
    titulo: {
      type: String,
      default: "Na"
    }
  },
  methods: {
    CambiarNumeroTarjeta(valor) {
      var total = (this.PropsColorRoja = valor);

      console.log("total props", total);
    },
    handleClick(tab, event) {
      console.log(tab, event);
    }
  },
  created() {
    //  this.AnioActual();
    this.PropsColorRoja = 1;
  }
};
</script>
