
<template>
<div>
    Count number is: {{ value }}
</div>
</template>

<script>
import { EventBus } from './event-bus.js';

export default {

    data() {
        return {
            value: 0
        }
    },
    mounted() {
        EventBus.$on('emittedEvent', data => {
            console.log("recibiendo dato Lsiten",data.firstName)
            this.value = data;
        });
    }
}
</script>