<template>
    <v-layout align-start>
        <v-flex>
            <el-row :gutter="10">
                <el-col :xs="24" >
                    <apexchart type="bar" ref="chart" height="430" :options="chartOptions" :series="series"></apexchart>
                </el-col>
            </el-row>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios';

export default {
    data(){
        
        return{
            series: [],
            chartOptions: {
                chart: {
                    type: 'bar',
                    width: '100%',
                    height: '100%'
                },
                noData:{
                    text: 'Cargando...'
                },
                colors: ['#04B404'],
                title: {
                    text: 'ACCIONES ATENDIDAS',
                    align: 'center',
                    style: {
                        fontSize:  '20px',
                        fontWeight: 'bold' ,
                        fontFamily:  'arial',
                        color:  '#2E2E2E'
                    },
                },
                plotOptions: {
                    bar: {
                        barHeight: '50%',
                        horizontal: true,
                        dataLabels: {
                            position: 'center',
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '12px',
                        colors: ['#fff']
                    }
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['#fff']
                },
                xaxis: {
                    title: {
                        text: 'Cantidad de Acciones Atendidas'
                    },
                    type: 'category',
                    labels: {
                        formatter: function (y) {
                            return y.toFixed(0) ;
                        }
                    }
                },
                yaxis:{
                    title: {
                        text: 'Responsables'
                    }
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function (y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + " Atendidos";
                        }
                        return y;
                    
                        }
                    }
                }
            },
            
            usuariosOk: [],
            
        }
    },
    created(){
        this.responsableOk();
    },
    methods:{
        responsableOk(){
            
            let me=this;
            var responsableArray=[];
            axios.get('api/Accions/ListarResponsableOk').then(function(response){
                me.responsableArray=response.data;
                me.responsableArray.map(function(x){
                    me.usuariosOk.push({x: x.username, y: x.cantidad})
                });
                me.$refs.chart.updateSeries([
                    {
                        name: 'Cantidad',
                        data: me.usuariosOk
                    }
                ]);
            }).catch(function(error){
                console.log(error);
            });
        },
        

    }
}
</script>